---
layout: content
lang: de
i18n_id: verification
---

# Überprüfung

Wir signieren alle gedruckten Zertifikate kryptografisch mit unseren privaten Schlüsseln.

Diese Signatur ist mit den Zertifikatdetails in einen URL / QRCode eingebettet, der jederzeit gescannt werden kann, um die Echtheit der Zertifikate zu überprüfen.

Die Bestätigungs-URL-Seite muss lauten: <https://training.dostgroup.de/verify>

Wir veröffentlichen unsere öffentlichen Schlüssel, die zur Überprüfung verwendet werden, unten:

{% include public_keys_table.html %}