---
layout: content
lang: en
i18n_id: verification
---

# Verification

We cryptographically sign all printed certificates with our private keys.

This signature is embedded with the certificates details in an URL / QRCode that can be scanned to check the certificates authenticity at any time.

The verification URL page must be: <https://www.the-safety.de/verify>

We publish our public keys, used for verification, below:

{% include public_keys_table.html %}