<section id="edoobox">
{% if page.lang == "en" %}
    <iframe src="https://app1.edoobox.com/en/Dost/?edref=dost" name="edooboxFrame_dost" id="edoobox_dost"
            style="border:none; width:100%; height:600px;" frameborder="0" seamless data-scrolltop><a
            href="https://app1.edoobox.com/en/Dost/?edref=dost">Show overview</a></iframe>
{% elsif page.lang == "de" %}
        <iframe src="https://app1.edoobox.com/de/Dost/?edref=dost" name="edooboxFrame_dost" id="edoobox_dost"
                style="border:none; width:100%; height:600px;" frameborder="0" seamless data-scrolltop><a
                href="https://app1.edoobox.com/de/Dost/?edref=dost">Show overview</a></iframe>
{% endif %}
</section>

<script type="text/javascript" src="https://cdn1.edoobox.com/edoobox.iframe.embedded.v2.2.js"></script>