{% if page.lang == "en" %}
{% capture i18n_link_part %}{% endcapture %}
{% else %}
{% capture i18n_link_part %}{{ page.lang }}{% endcapture %}
{% endif %}

<footer class="footer has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h5 class="title is-5 mb-3">{{ site.organisation }}</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marked-alt"></i> <a href="{{ site.maps_link_office }}">{{
                        site.organisation_address_office }}</a> ({{ site.data.i18n[page.lang].global.office }})
                    </li>
                    <li><i class="fas fa-map-marked-alt"></i> <a href="{{ site.maps_link_facility }}">{{
                        site.organisation_address_facility }}</a> ({{ site.data.i18n[page.lang].global.training_center }})
                    </li>
                    <li><i class="fas fa-phone"></i> <a
                            href="tel:{{ site.organisation_phone | remove: ' ' | remove: '-' }}">{{
                        site.organisation_phone }}</a></li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:{{ site.organisation_email }}">{{
                        site.organisation_email }}</a></li>
                </ul>
            </div>
            <div class="column">
                <div class="image is-4by3">
                    <iframe class="has-ratio map-frame" src="{{ site.maps_embed_office}}" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="column">
                <div class="image is-4by3">
                    <iframe class="has-ratio map-frame" src="{{ site.maps_embed_facility }}" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>

                </div>
            </div>
            <div class="column">
                <h5 class="title is-5 mb-3">{{ site.data.i18n[page.lang].global.navigation }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ '/' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.home.link }}</a>
                    <li><a href="{{ '/courses' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.courses.link }}</a></li>
                    <li><a href="{{ '/prices' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.prices.link }}</a></li>
                    <li><a href="{{ '/booking' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.booking.link }}</a></li>
                    <li><a href="{{ '/verification' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.verification.link }}</a></li>
                    <li><a href="{{ '/about' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.about.link }}</a></li>
                    <li><a href="{{ '/termsandconditions' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.terms.link }}</a></li>
                    <li><a href="{{ '/privacypolicy' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.privacy.link }}</a></li>
                    <li><a href="{{ '/impressum' | prepend: i18n_link_part  | relative_url }}">{{ site.data.i18n[page.lang].pages.impressum.link }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content has-text-centered mt-6">
        <p>
            Language:
            {% if page.lang == "en" %}
            English | <a href="{{ page.url | prepend: 'de' | relative_url }}">Deutsche</a>
            {% elsif page.lang == "de" %}
            <a  href="{{ page.url | replace_first: 'de/', '' | relative_url }}">English</a> | Deutsche
            {% endif %}
        </p>
        <p>{{ site.organisation }} {{ site.time | date: '%Y' }}</p>
    </div>
</footer>